* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: black;
}

.main {
    height: 95vh;
    background: url('./Image/bg\ image.jpg') no-repeat center center/cover;
}

.container {
    height: 100%;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.6) 50%,
            rgba(0, 0, 0, 0.9) 100%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.header img {
    width: 9.25rem;
    height: 3.5rem;
    display: block;
}

.heading {
    display: flex;
    align-items: center;
    position: relative;
}

svg {
    color: white;
    position: absolute;
    margin-left: 7px;
}

.heading select {
    font-size: 1rem;
    padding: 6px 10px 6px 30px;
    margin-right: 10px;
    color: white;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
}

.signin {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.content {
    text-align: center;
    color: white;
    margin-top: 150px;
    padding: 0 20px;
}

.content h1 {
    font-size: 50px;
    font-weight: bold;
}

.content h3 {
    padding-top: 15px;
    font-size: 22px;
}

.content p {
    padding-top: 20px;
}

.email-box {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-box input {
    padding: 15px;
    width: 350px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.email-box button {
    background: red;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.trending {
    overflow: hidden;
    background: black;
}

.trending h2 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding: 50px 0 5px 90px;
}

.images {
    position: relative;
    width: 80%;
}

.images img {
    border-radius: 15px;
    scroll-snap-align: start;
}

.movie-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0px 10px 130px;
}

.movie-image::-webkit-scrollbar {
    display: none;
}

span {
    position: absolute;
    bottom: 10px;
    left: -20px;
    font-size: 80px;
    font-weight: 800;
    -webkit-text-stroke: 2px white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.reason {
    background: black;
}

.reason h2 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding: 30px 0 10px 90px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 0px 60px;
}

.card {
    background: linear-gradient(180deg, #1E2248 0%, #1A1B3A 50%, #2A0F1F 100%);
    border-radius: 10px;
    width: 20%;
    height: 320px;
    padding: 5px 20px;
}

.card h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 4px;
}

.card p {
    color: rgb(171, 171, 182);
}

.card svg {
    margin: 5% 9%;
}

.question {
    background: black;
    padding: 20px;
    padding-left: 7%;
}

.question h2 {
    color: white;
    font-size: 2rem;
    font-weight: 70;
}

.btn {
    color: white;
    background: rgb(45, 45, 45);
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: 10px;
    padding: 25px;
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(65, 65, 65);
}

.search {
    background: black;
}

.search h3 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    padding: 15px;
    width: 35%;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 5px;
}

.search-box button {
    background: red;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}



.footer {
    color: #999;
    padding: 60px 100px;
}

.footer a {
    color: #999;
    font-size: 14px;
}


.contact {
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 900px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    padding-bottom: 12px;
}

.region {
    padding-top: 40px;
    font-size: 14px;
}

.last {
    padding-top: 40px;
    font-size: 13px;
}

.last label {
    color: rgb(87, 140, 237);
    text-decoration: underline;

}

.none {
    display: none;
    font-size: 13px;
    padding-top: 20px;
}

#toggle:checked~.none {
    display: block;
}